{% if feed %}
    {% if post.layout == 'link' %}
        &lt;a href="{{post.link}}"&gt;
            {% if post.link_text %}
                {{ post.link_text | xml_escape }}
            {% else %}
                {{ post.title | xml_escape }}
            {%endif%}
            &#x2192;
        &lt;/a&gt;
    {% endif %}
{% else %}
    <a class="extern-link" href="{{post.link}}">
        {% if post.link_text %}
            {{ post.link_text }}
        {% else %}
            {{ post.title }}
        {%endif%}
    </a>
{% endif %}