<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/github.css">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans|PT+Mono&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>

        <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.url }}/atom.xml">

        <link rel="shortcut icon" href="/img/favicon.png"/>
    </head>
    <body>

        <header id="page-header">
            
            <div id="navigation">
                <div class="container">

                    <a href="/">
                        <img src="/img/kirdev.png" alt="logo"/>
                        <h1>
                            Kir-Dev
                        </h1>
                    </a>
                    
                    <ul>
                        <li><a href="/archive">Archívum</a></li>
                        <li><a href="/about">Rólunk</a></li>
                        <li><a href="/contact">Kapcsolat</a></li>
                        <li><a href="/atom.xml">Feed</a></li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
            </div>
            
        </header>

        <div class="container">
            <div id="main">
                {{content}}
            </div>
        </div>
        
        <footer>
            <div class="container">
                &copy; 2013 Kir-Dev
                | email: kir-dev [kukac] sch.bme.hu
                | <a href="https://twitter.com/KirDev">twitter</a>
                | <a href="https://www.facebook.com/kirdevteam">facebook</a>
                | #kir-dev on freenode
            </div>
        </footer>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-9244343-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
