---
layout: default
---
<div class="post">
    <h1>{{ page.title }}</h1>
    <p class="meta">
        <span class="date">{{ page.date | date: site.date_format }}</span>
        |
        <span class="author">írta: {{ page.author }}</span>
    </p>
    <div class="content">
        {{ content }}
    </div>

     <div class="custom-post-share-buttons">
        <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">
      Facebook</a>
        <a href="https://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{page.url}}" target="_blank">
      Twitter</a>
        <a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="_blank">Google+</a>
      </div>
</div>
